h1 {
    color:black;
    margin-left:0px;
    font-size:100px;
    font-family: pinot-grigio-modern, sans-serif;
    font-style:normal;
    font-weight:700;
    color:black;
}
p {
    color:black;
    margin-left:0px;
    font-size:25px;
    font-family: pinot-grigio-modern, sans-serif;
    font-style:italic;
    font-weight:800;
    color:crimson;
}
body{
    background-color: white;
}